    <!-- 新規登録 -->
    <div class="contents-row">
      <div class="container-registrtion">
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'registration-new_user', local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="field">
            <%= f.label :ニックネーム %><br />
            <%= f.text_field :name, class: "nickname-field" %>
          </div>
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, class: "email-field" %>
          </div>
          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "password-field" %>
          </div>
          <div class="field">
            <%= f.label :パスワード（確認） %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "password_confirmation-field" %>
          </div>
          <div class="field">
            <%= f.submit "新規登録", class: "submit-field" %>
          </div>
        <% end %>
      </div>
    </div>
