<!-- マイページ -->
  <div class="anime-chart-post">

    <div class="user-show-my-pages">
      <div class="user-show-my-page">
        <div class="user-show-link">
          <%= link_to "#{@user.name}さんのマイページ", root_path, class: "user-show-link-my-page" %>
          <%= link_to 'フレンド一覧（未完成）', root_path, class: "user-show-link-friend-index" %>
        </div>
        <div class="user-show-my-page-contents">
          <div class="user-show-my-page-content">
            <div class="user-show-my-page-name-friend">
              <div class="user-show-my-page-name"> <%= "#{@user.name}さんのマイページ" %> </div>
              <%= link_to 'フレンド登録する（未完成）', root_path, class: "user-show-link-friend-register" %>
            </div>
            <div class="user-show-end-animes">
              <%= link_to '➡観終わったアニメ一覧（未完成）', root_path, class: "user-show-link-end-anime" %>
            </div>
            <% if @profile.present? %>
            <div class="user-show-tables">
              <table class="user-show-detail-table">
                <tr>
                  <td rowspan = "5", class="user-show-detail-animes">お気に入りの<br>アニメ</td>
                  <td class="user-show-detail-anime"><%= @profile.favorite1 %></td>
                </tr>
                <tr>
                  <td class="user-show-detail-anime"><%= @profile.favorite2 %></td>
                </tr>
                <tr>
                  <td class="user-show-detail-anime"><%= @profile.favorite3 %></td>
                </tr>
                <tr>
                  <td class="user-show-detail-anime"><%= @profile.favorite4 %></td>
                </tr>
                <tr>
                  <td class="user-show-detail-anime"><%= @profile.favorite5 %></td>
                </tr>
                <tr>
                  <td rowspan = "5", class="user-show-detail-free-comments">フリーコメント</td>
                  <td class="user-show-detail-free-comment"><%= simple_format(@profile.free_comment) %></td>
                </tr>
              </table>
            </div>
            <% else %>
              <p class="profile-not-found">プロフィールがまだ登録されていません。</p>
            <% end %>

            <div class="user-show-my-page-change-buttons">
              <% if user_signed_in? %>
                <% unless @user.profile.present? %>
                  <% if current_user.id == @user.id %>
                    <div class="profile-btn">
                      <%= link_to 'プロフィールを登録する', new_profile_path, class: "profile-edit-btn" %>
                    </div>
                  <% end %>
                <% end %>
                <% if current_user.id == @user.id && @user.profile.present? %>
                  <div class="profile-btn">
                    <%= link_to 'プロフィールを編集する', edit_profile_path(@user.profile.id), class: "profile-edit-btn" %>
                  </div>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="user-show-charts">
      <div class="user-show-anime-chart">
        <%= "#{@user.name}さんのアニメ投稿一覧"%>
      </div>
    </div>
      
    <div class="posts">
      <% @animes.each do |anime|%>
        <div class="matome">
          <div class="post">
            <div class="edited-end-edit-delete">
              <div class="edited-end">
                <div class="space-for-edit">
                  <% if anime.edited %>
                    <div class="edited-end-view">
                      <%= "編集済み" %>
                    </div>
                  <% end %>
                </div>
              </div>
              <% if current_user == anime.user %>
                <div class="edit-delete-button">
                  <div class="content-edit">
                    <%= link_to '編集', edit_anime_path(anime), class: "edit-button" %>
                  </div>
                  <div class="content-delete">
                    <%= link_to '削除', anime_path(anime), data: { turbo_method: :delete }, class: "delete-button" %>
                  </div>
                </div>
              <% end %>
            </div>
          
            <div class="anime-content">
              <a href="<%= anime_path(anime) %>" data-turbo="false" >
                <div class="content-header">
                  <div class="content-anime">
                    <div class="content-title">
                      アニメタイトル
                    </div>
                    <div class="content-anime-title">
                      <%= anime.title %>
                    </div>
                  </div>
                  <div class="content-netabare-count">
                    <div class="netabare">
                      <%= @netabare[anime.id] %>
                    </div>
                    <div class="count">
                      ネタバレカウント
                    </div>
                  </div>
                </div>
                <div class="content-middle">
                  <%= image_tag anime.image.variant(resize: '180x200!'), class: 'content-image' if anime.image.attached? %>
                </div>
                <div class="content-footer">
                  <table class="detail-table">
                    <tbody>
                      <tr>
                        <th class="detail-anime">ジャンル</th>
                        <td class="detail-value"><%= anime.genre.name %></td>
                      </tr>
                      <tr>
                        <th class="detail-anime">良いところ</th>
                        <td class="detail-value"><%= anime.good_point.name %></td>
                      </tr>
                      <tr>
                        <th class="detail-anime">どんな人におすすめか</th>
                        <td class="detail-value"><%= anime.recommendation.name %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>