    <!-- マイページ -->
<div class="anime-chart-post">
      <div class="charts">
        <div class="anime-chart">
          <%= "#{@user.name}さんのアニメ投稿一覧"%>
        </div>
        <% if user_signed_in? %>
        <%= link_to '新規投稿', new_anime_path, class:"new-post"%>
        <% end %>
      </div>
      <% @animes.each do |anime|%>
      <div class="posts">
        <div class="post">
        
          <div class="edit-end">
            編集済み
          </div>

          <% if current_user == anime.user %>
          <div class="edit-delete-button">
            <div class="edit-button">
              <%= link_to '編集', edit_anime_path(anime) %>
            </div>
            <div class="delete-button"><a href="#">削除</a></div>
          </div>
          <% end %>
          
          <div class="anime-content">
            <div class="content-header">
              <div class="content-anime-title">
                <div class="content-anime">アニメタイトル</div>
                <%= anime.title %>
              </div>
              <div class="content-netabare-count">
                <div class="netabare">5</div>
                <div class="count">ネタバレカウント</div>
              </div>
            </div>
            <div class="content-middle">
              <%= image_tag anime.image.variant(resize: '200x300'), class: 'content-image' if anime.image.attached? %>
            </div>
            <div class="content-footer">
              <div class="content-genre">ジャンル:</div>
              <%= anime.genre.name %>
              <div class="content-good-point">良いところ:</div>
              <%= anime.good_point.name %>
              <div class="content-recommendation">どんな人におすすめか:</div>
              <%= anime.recommendation.name %>
            </div>
          </div>
          
          <div class="user-name">
            <%= anime.user.name %>
          </div>
          <% end %>
        </div>

      </div>
    </div>