<!-- 観終わったアニメ一覧ページ -->
  <%= form_with model: @finish, id: "finish" do |form| %>
    <%= form.label :finish_anime, "アニメタイトル" %><br />
    <%= form.text_field :finish_anime, id:"finish-anime", class: "end-anime-title" %>
    <%= form.label :group_id, "分類" %><br />
    <%= form.collection_select :group_id, Group.all, :id, :name, {prompt: '--'}, { class: "end-anime-group", id: "group-id-select" } %>
    <%= form.submit '追加する' , id: "submit" %>
  <% end %>

  <h1 class="finish-animes-index">観終わったアニメ</h1>

<div id="list">
</div>

<% @finishes.each do |finish| %>
<div class="post">
  <div class="post-date">
    <%= finish.finish_anime %>
  </div>
  <div class="post-content">
    <%= finish.group_id %>
  </div>
</div>
<% end %>


<div class="finish-index-all">
  <div class="finish-index">
    <div class="finish-high-row">
      <div class="finish-anime-groups">
        <div class="finish-anime-group">
          <div class="group-id">
            あ行
          </div>
          <div class="finish-anime-title">
            アニメあー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            か行
          </div>
          <div class="finish-anime-title">
            アニメかー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            さ行
          </div>
          <div class="finish-anime-title">
            アニメさー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            た行
          </div>
          <div class="finish-anime-title">
            アニメたー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            な行
          </div>
          <div class="finish-anime-title">
            アニメなー１
          </div>
        </div>
      </div>
    </div>
    <div class="finish-low-row">
      <div class="finish-anime-groups">
        <div class="finish-anime-group">
          <div class="group-id">
            は行
          </div>
          <div class="finish-anime-title">
            アニメはー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            ま行
          </div>
          <div class="finish-anime-title">
            アニメまー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            や行
          </div>
          <div class="finish-anime-title">
            アニメやー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            ら行
          </div>
          <div class="finish-anime-title">
            アニメらー１
          </div>
        </div>
        <div class="finish-anime-group">
          <div class="group-id">
            わ行
          </div>
          <div class="finish-anime-title">
            アニメわー１
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
