<!-- 観終わったアニメ一覧ページ -->
  <div class="finish-index-user-my-pages">
    <%= link_to "←#{@user.name}さんのマイページへ戻る", user_path(@user), class: "finish-index-user-my-page" %>
  </div>
  <div class="finish-index-forms">
    <% if user_signed_in? && current_user == @user %>
      <%= form_with model: @finish, url: finishes_path, id: "finish" do |form| %>
        <div class="finish-index-form">
          <div class="finish-index-form-anime-group">
            <%= form.label :finish_anime, "アニメタイトル" %><br/>
            <%= form.text_field :finish_anime, id:"finish-anime", class: "end-anime-title" %>
          </div>
          <div class="finish-index-form-anime-group">
            <%= form.label :group_id, "分類" %><br/>
            <%= form.collection_select :group_id, Group.all, :id, :name, {prompt: '--'}, { class: "end-anime-group", id: "group-id-select" } %>
          </div>
          <div class="finish-index-form-anime-group">
            <%= form.submit '追加する' , id: "submit" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="finish-anime-index-anime">
    <div class="finish-animes-index">
      観終わったアニメ
    </div>
  </div>

  <div class="finish-index-all">
    <div class="finish-index">
      <div class="finish-high-row">
        <% Group.data.each do |group| %>
          <div class="finish-anime-groups">
            <div class="finish-anime-group">
              <div class="group-id">
                <%= group[:name] %>
              </div>
              <% @finishes.each do |finish| %>
                <% if finish.group_id == group[:id] %>
                  <div class="finish-anime-title" id="list">
                    <%= finish.finish_anime %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
