<!-- サービス紹介 -->
  <div class="service-items">

    <div class="service-item">
      <div class="service-image">
        <%= image_tag 'search-window.jpg', class: 'card-logo'%>
      </div>
      <div class="service-text">
        <div class="service-text__main">
          アニメを検索しよう
        </div>
        <div class="service-text__sub">
          「アニメタイトル」、「ジャンル」、「良いところ」、「どんな人におすすめか」の4つの項目から検索できます。
        </div>
      </div>
    </div>

    <div class="service-item">
      <div class="service-image">
        <%= image_tag 'upload.jpg', class: 'card-logo'%>
      </div>
      <div class="service-text">
        <div class="service-text__main">
          アニメを投稿しよう
        </div>
        <div class="service-text__sub">
          おすすめしたいアニメを投稿できます。ネタバレ注意！（＊ログイン/新規登録が必要です＊）
        </div>
      </div>
    </div>

    <div class="service-item">
      <div class="service-image">
        <%= image_tag 'netabare-click.jpg', class: 'card-logo'%>
      </div>
      <div class="service-text">
        <div class="service-text__main">
          ネタバレボタンをクリックしよう
        </div>
        <div class="service-text__sub">
          投稿されたアニメを見て、ネタバレがあると思ったらネタバレボタンをクリックできます。（＊ログイン/新規登録が必要です＊）
        </div>
      </div>
    </div>
  </div>

<!-- アニメ投稿一覧 -->
  <div class="anime-chart-post">
    <div class="charts">
      <div class="anime-chart">アニメ投稿一覧</div>
        <% if user_signed_in? %>
          <%= link_to '新規投稿', new_anime_path, class:"new-post-submit"%>
        <% end %>
    </div>

    <div class="search-forms">
      <%= search_form_for @q, url: search_animes_path, html: {id: "detailed-search-form"} do |form| %>
        <div class="form">
          <div class="search-form">
            <%= form.label :title_cont, "アニメタイトル" %><br />
            <%= form.text_field :title_cont, placeholder: 'アニメタイトルを入力', class: 'search-anime-title' %>
          </div>
          <div class="search-form">
            <%= form.label :genre_id_eq, "ジャンル" %><br />
            <%= form.collection_select(:genre_id_eq, Genre.all, :id, :name, {include_blank: "--"}, { class: 'search-anime-ids' }) %>
          </div>
          <div class="search-form">
            <%= form.label :good_point_id_eq, "良いところ" %><br />
            <%= form.collection_select(:good_point_id_eq, GoodPoint.all, :id, :name, {include_blank: "--"}, { class: 'search-anime-ids' }) %>
          </div>
          <div class="search-form">
            <%= form.label :recommendation_id_eq, "どんな人におすすめか" %><br />
            <%= form.collection_select(:recommendation_id_eq, Recommendation.all, :id, :name, {include_blank: "--"}, { class: 'search-anime-ids' }) %>
          </div>
          <div class="search-form">
            <%= form.submit '検索', class: 'search-anime-submit' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="posts">
      <% @animes.each do |anime| %>
        <div class="post">
          <% if anime.edited %>
            <div class="edited-end-view"><%= "編集済み" %></div>
          <% end %>

          <div class="anime-content">
            <a href="<%= anime_path(anime) %>" data-turbo="false" >
              <div class="content-header">
                <div class="content-anime">
                  <div class="content-title">
                    アニメタイトル
                  </div>
                  <div class="content-anime-title">
                    <%= anime.title %>
                  </div>
                </div>
                <div class="content-netabare-count">
                  <div class="netabare">
                    <%= @netabare[anime.id] %>
                  </div>
                  <div class="count">ネタバレカウント</div>
                </div>
              </div>
              <div class="content-middle">
                <%= image_tag anime.image.variant(resize: '200x300'), class: 'content-image' if anime.image.attached? %>
              </div>
              <div class="content-footer">
                <table class="detail-table">
                  <tbody>
                    <tr>
                      <th class="detail-anime">ジャンル</th>
                      <td class="detail-value"><%= anime.genre.name %></td>
                    </tr>
                    <tr>
                      <th class="detail-anime">良いところ</th>
                      <td class="detail-value"><%= anime.good_point.name %></td>
                    </tr>
                    <tr>
                      <th class="detail-anime">どんな人におすすめか</th>
                      <td class="detail-value"><%= anime.recommendation.name %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </a>
          </div>

          <div class="content-user-name">
            投稿者：<%= link_to anime.user.name, user_path(anime.user), class: 'user-name'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
