    <!-- 検索欄 -->
    <div class="anime-search">
      アニメを探す
    </div>
    <div class="search-forms">
    <%= search_form_for @q, url: search_animes_path, html: {id: "detailed-search-form"} do |form| %>
      <div class="form">
        <div class="search-form">
          <%= form.label :title_cont, "アニメタイトル" %><br />
          <%= form.text_field :title_cont, placeholder: 'アニメタイトルを入力' %>
        </div>
        <div class="search-form">
          <%= form.label :genre_id_eq, "ジャンル" %><br />
          <%= form.collection_select(:genre_id_eq, Genre.all, :id, :name, {include_blank: "--"}) %>
        </div>
        <div class="search-form">
          <%= form.label :good_point_id_eq, "良いところ" %><br />
          <%= form.collection_select(:good_point_id_eq, GoodPoint.all, :id, :name, {include_blank: "--"}) %>
        </div>
        <div class="search-form">
          <%= form.label :recommendation_id_eq, "どんな人におすすめか" %><br />
          <%= form.collection_select(:recommendation_id_eq, Recommendation.all, :id, :name, {include_blank: "--"}) %>
        </div>
        <div class="search-form">
          <%= form.submit '検索' %>
        </div>
      </div>
    <% end %>
    </div>

    <!-- アニメ投稿一覧 -->
    <div class="anime-chart-post">
      <div class="charts">
        <div class="anime-chart">アニメ投稿一覧</div>
        <% if user_signed_in? %>
        <%= link_to '新規投稿', new_anime_path, class:"new-post"%>
        <% end %>
      </div>

      <div class="posts">
      <% @animes.each do |anime|%>
        <div class="post">
          <div class="edit-end">
            <% if anime.edited %>
              <div class="edit-end-view"><%= "編集済み" %></div>
            <% end %>
          </div>
          
          <div class="anime-content">
            <div class="content-header">
              <div class="content-anime">
                <div class="content-title">アニメタイトル</div>
                <%= link_to anime.title, anime_path(anime), data: {turbo: false},class: "content-anime-title" %>
              </div>
              <div class="content-netabare-count">
                <div class="netabare">5</div>
                <div class="count">ネタバレカウント</div>
              </div>
            </div>

            <div class="content-middle">
              <%= image_tag anime.image.variant(resize: '200x300'), class: 'content-image' if anime.image.attached? %>
            </div>

            <div class="content-footer">
            <table class="detail-table">
              <tbody>
                <tr>
                  <th class="detail-anime">ジャンル</th>
                  <td class="detail-value"><%= anime.genre.name %></td>
                </tr>
                <tr>
                  <th class="detail-anime">良いところ</th>
                  <td class="detail-value"><%= anime.good_point.name %></td>
                </tr>
                <tr>
                  <th class="detail-anime">どんな人におすすめか</th>
                  <td class="detail-value"><%= anime.recommendation.name %></td>
                </tr>
              </tbody>
            </table>
            </div>

          </div>
          <div class="content-user-name">
            <%= link_to anime.user.name, user_path(anime.user) %>
          </div>
           
        </div>
      <% end %>
      </div>

    </div>
