    <!-- 新規投稿 -->
    <div class="new">
      <div class="new-anime-posts">
        <div class="new-anime-post">アニメ新規投稿</div>
        <div class="new-anime-post-form">
        <%= form_with model: @anime , local: true do |f| %>
          <div class="new-form">
            <%= f.label :title, "アニメタイトル" %><br />
            <%= f.text_field :title, id:"anime-title" %>
          </div>
          <div class="new-form">
            <label class="new-anime-image">画像
              <input type="text" class="new-anime-image-form">
            </label>
          </div>
          <div class="new-form">
            <%= f.label :synopsis, "あらすじ" %><br />
            <%= f.text_area :synopsis, id:"anime-synopsis" %>
          </div>
          <div class="new-form">
            <%= f.label :genre, "ジャンル" %><br />
            <%= f.collection_select :genre, Genre.all, :id, :name %>
          </div>
          <div class="new-form">
            <%= f.label :good_point, "良いところ" %><br />
            <%= f.collection_select :good_point, GoodPoint.all, :id, :name %>
          </div>
          <div class="new-form">
            <%= f.label :recommendation, "どんな人におすすめか" %><br />
            <%= f.collection_select :recommendation, Recommendation.all, :id, :name %>
          </div>
          <div class="new-form">
            <%= f.label :text, "アニメを観た感想" %><br />
            <%= f.text_area :text, id:"anime-text" %>
          </div>
          <div class="new-form">
            <%= f.submit "新規投稿" ,class:"new-anime-submit-form" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>