<!-- 詳細ページ -->
  <div class="show-post-comment">
    <div class="show-posts">
      <div class="show-post">
        <div class="edited-end-edit-delete">
          <div class="edited-end">
            <% if @anime.edited %>
              <div class="edited-end-view">
                <%= "編集済み" %>
              </div>
            <% end %>
          </div>
          <% if current_user == @anime.user %>
            <div class="edit-delete-button">
              <div class="content-edit">
                <%= link_to '編集', edit_anime_path(@anime), class: "edit-button" %>
              </div>
              <div class="content-delete">
                <%= link_to '削除', anime_path(@anime), data: { turbo_method: :delete }, class: "delete-button" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="show-anime-content">
          <div class="show-anime-content-header">
            <div class="show-anime-header-left">
              <%= image_tag @anime.image.variant(resize: '300x300!'), class: 'show-anime-image' if @anime.image.attached? %>
            </div>
            <div class="show-anime-header-right">
              <div class="show-anime-title-user">
                <div class="show-anime-title">アニメタイトル</div>
                <div class="show-anime-title-name">
                  <%= @anime.title %>
                </div>
                <div class="show-anime-user-name">
                  投稿者：<%= link_to @anime.user.name, user_path(@anime.user), class: 'user-name'%>
                </div>
              </div>
              <div class="show-anime-netabare">
                <div class="show-anime-netabare-counter">
                  <div class="show-anime-netabare-count-number" id="netabare-count"><%= @netabares.where(anime_id: @anime.id).count %></div>
                  <div class="show-anime-netabare-count">ネタバレカウント</div>
                </div>
                <div class="show-anime-netabare-button">
                  <% if user_signed_in? && current_user != @anime.user %>
                    <div class="show-anime-netabare-button-form" id="netabare-buttons">
                      <%= form_tag(change_count_anime_netabare_path(@anime), method: :post, data: {turbo: false}, id: "change_count-form") do %>
                        <%= submit_tag "ネタバレ！", id: "change_count-button" %>
                      <% end %>
                    </div>
                  <% elsif current_user == @anime.user%>
                    <div class="show-anime-netabare-not-button-form">
                      自分の投稿にはネタバレ！できません
                    </div>
                  <% else %>
                    <div class="show-anime-netabare-button-form">
                      <%= button_to "ネタバレ！にはログインが必要です", new_user_session_path %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="show-anime-content-footer">
            <table class="show-anime-detail-table">
              <tbody>
                <tr>
                  <th class="show-anime-detail-anime">あらすじ</th>
                  <td class="show-anime-detail-value"><%= @anime.synopsis %></td>
                </tr>
                <tr>
                  <th class="show-anime-detail-anime">ジャンル</th>
                  <td class="show-anime-detail-value"><%= @anime.genre.name %></td>
                </tr>
                <tr>
                  <th class="show-anime-detail-anime">良いところ</th>
                  <td class="show-anime-detail-value"><%= @anime.good_point.name %></td>
                </tr>
                <tr>
                  <th class="show-anime-detail-anime">どんな人におすすめか</th>
                  <td class="show-anime-detail-value"><%= @anime.recommendation.name %></td>
                </tr>
                <tr>
                  <th class="show-anime-detail-anime">アニメを観た感想</th>
                  <td class="show-anime-detail-value"><%= simple_format(@anime.text) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<!-- コメント一覧 -->
    <div class="comments-replies">
      <div class="comments-container">
        <div class="container">
          <div class="comments-questions">コメントや質問</div>
        </div>
        <div class="accordion">
          <% @comments.each do |comment| %>
            <% if comment.parent_id.present? || comment.id.blank? %>
              <% next %>
            <% end %>
            <dl class="accordion-box">
              <dt id="question"><span></span>
                <div id="comment_area">
                  <p> <%= comment.user.name %> さん : <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></p>
                  <p> <%= comment.content %></p>
                </div>
                <div id="reply_area">
                  <% comment.replies.order(:created_at).each do |reply| %>
                    <p> <%= reply.user.name %> さん : <%= reply.created_at.strftime("%Y/%m/%d %H:%M") %></p>
                    <p> <%= reply.content %></p>
                  <% end %>
                </div>
              </dt><!-- /.question -->
              <dd id="answer">
                <% if user_signed_in? %>
                  <%= form_with model:[@anime, @comment_reply] , data: {turbo: false} do |form| %>
                    <div class="row">
                      <div class="reply-form col-md-6">
                        <%= form.text_area :content, class: "reply-form", rows: 3, placeholder: "返信を入力してください" %>
                      </div>
                    </div>
                    <%= form.hidden_field :anime_id, value: @anime.id %>
                    <%= form.hidden_field :parent_id, value: comment.id %>
                    <div class="reply-actions">
                      <%= form.submit '返信する'%>
                    </div>
                  <% end %>
                <% else %>
                  <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
                <% end %>
              </dd><!-- /.answer -->
            </dl><!-- /.accordion-box -->
          <% end %>
        </div>
        <div class="comment-forms-area">
          <div class="comment-form-area">
            <div class="comment-question">
              コメントや質問を記入
            </div>
            <% if user_signed_in? %>
              <%= form_with model:[@anime,@comment], data: {turbo: false} do |form| %>
                <%= form.text_area :content, class: "comment-form", rows: 5, placeholder: "コメントや質問を入力してください" %>
                <%= form.hidden_field :anime_id, value: @anime.id %>
                <div class="comment-actions">
                  <%= form.submit '送信する' %>
                </div>
              <% end %>
            <% else %>
              <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>